<style>
 #detail-condition > .card:first-of-type {
   border-radius: 0.25rem;
   border-bottom: 1px solid rgba(0, 0, 0, 0.125);
 }
 #detail-condition > .card:last-of-type {
   border-radius: 0.25rem;
   border-bottom: 1px solid rgba(0, 0, 0, 0.125);
 }
 .form-group .card-header {
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
 }
 .form-group .card-header > a {
   padding: 0rem;
 }
 #portfolio_form_count { direction: rtl; }
</style>
<div class="alert alert-warning" role="alert">
  リソースが非常に貧弱な環境で動作しています。
  負荷低減にご協力ください。
</div>

<h1>ポートフォリオ</h1>

<%= form_with model: @portfolio_form, url: portfolio_show_path, method: :get, local: true, html:  {} do |f| %>

  <div class="form-group row">
    <%= f.label :user_id, 'ユーザ:', class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.collection_select :user_id,
      User.published, :id, :name,
      {},
      {class: "custom-select"} %>
    </div>
  </div>


  <div class="accordion form-group" id="detail-condition" role="tablist" aria-multiselectable="true">
    <div class="card">
      <div class="card-header" role="tab" id="headingOne">
        <a class="btn btn-block bg-transparent text-left" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseOne">
          詳細条件
        </a>
      </div>
      <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#detail-condition">
	<div class="card-body">
	  <fieldset class="form-group condition">
	    <legend class="condition">技術要素</legend>
	    <div class="form-group row">
	      <% @tech_categories.each do |category| %>
		<label class="col-sm-3 control-label"><%= category.name %>:</label>
		<div class="col-sm-9">
		  <%= f.collection_check_boxes :tech_tag_ids, category.tech_tags, :id, :name, {include_hidden: false} do |b| %>
		    <div class="form-check form-check-inline">
		      <%= b.label(class: "form-check-label") { b.check_box + b.text } %>
		    </div>
		  <% end %>
		</div>
	      <% end %>
	    </div>
	  </fieldset>
	</div>
      </div>
    </div>
  </div>
  
  <div class="form-group row">
    <%= f.label :count, '表示件数:', class: "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.select :count,
      @counts,
      {},
      {class: "custom-select"} %>
    </div>
  </div>
  
  <div class="form-group row">
    <div class="col-sm-offset-2 col-sm-10">
      <%#= f.submit '表示', class: "btn btn-primary", formtarget: "_blank" %>
      <%= f.submit '表示', class: "btn btn-primary" %>
    </div>
  </div>

<% end %>

<%= render 'portfolio' %>
