<!doctype html>
<html lang="ja">
  <head>
    <title>ポートフォリオ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
     h2 {
       margin-top: 1rem;
     }

     .jumbotron-extend {
       position: relative;
       height: 100vh;
       min-height: 300px;
     }
    </style>
  </head>
  <body>
    <div class="jumbotron jumbotron-extend">
      <div class="container-fluid">
	<h1 class="display-4">ポートフォリオ</h1>
	<p class="lead">
	  デザインは苦手なので、飾りやアクションはありません。
	</p>
      </div>
    </div>
    <div class="container-fluid">
      <h2>自己紹介</h2>
      <p>
	<%= @user.introduction %>
      </p>

      <h2>主な開発実績</h2>
      <div class="accordion" id="projlist" role="tablist">
	<% @projects.each.with_index(1) do |project, idx| %>
	  <div class="card">
	    <div class="card-header" role="tab" id="heading<%= idx %>">
	      <h5 class="mb-0">
		<a class="collapsed text-body stretched-link text-decoration-none" data-toggle="collapse" href="#collapse<%= idx %>" aria-expanded="false" aria-controls="collapse<%= idx %>"> <%= project.name %> </a>
	      </h5>
	    </div>
	    <div id="collapse<%= idx %>" class="collapse" role="tabpanel" aria-labelledby="heading<%= idx %>" data-parent="#projlist">
	      <div class="card-body">
		<% if project.overview.present? %>
		  <h5>概要</h5>
		  <p><%= project.overview %></p>
		<% end %>
		<% if has_hw_configuration?(project) %>
		  <h5>HW構成</h5>
		  <% if project.hw_diagram.attached? %>
		    <figure class="figure w-auto d-block">
		      <%= image_tag project.hw_diagram, class:"img-fluid mx-auto d-block" %>
		      <figcaption class="figure-caption text-center">SW構成図</figcaption>
		    </figure>
		  <% end %>
		  <p><%= project.hw_configuration %></p>
		<% end %>
		<% if has_sw_configuration?(project) %>
		  <h5>SW構成</h5>
		  <p><%= project.sw_configuration %></p>
		  <% if project.sw_diagram.attached? %>
		    <figure class="figure w-auto d-block">
		      <%= image_tag project.sw_diagram, class:"figure-img img-fluid mx-auto d-block" %>
		      <figcaption class="figure-caption text-center">SW構成図</figcaption>
		    </figure>
		  <% end %>
		<% end %>
		<h5>使用技術</h5>
		<p>
		  <% project.tech_tags.each do |tags| %>
		    <%= tags.name %>,
		  <% end %>
		</p>
		<% if project.production_url.present? %>
		  <h5>本番環境URL</h5>
		  <p><a href="<%= project.production_url %>"><%= project.production_url %></a> </p>
		<% end %>
		<% if project.from.present? || project.to.present? %>
		  <h5>期間</h5>
		  <p><%= project_period(project) %></p>
		<% end %>
	      </div>
	    </div>
	  </div>
	<% end %>
      </div>

      <h2>連絡先</h2>
      <p><%= mailto_link @user %></p>
    </div>

  </body>

  <script>
   jQuery(document).ready(function() {
     window.opener.$(":submit").prop("disabled", false);
   });
  </script>
</html>
